<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Produit de 2 nombres</h1>
    Donner un 1er nombre <input type="text" [(ngModel)]="n1">
    Donner un 2eme nombre <input type="text" [(ngModel)]="n2"><br>
    <button (click)="produit=n1*n2">CALCUL</button><br>
    Le produit est: {{produit}}
</body>
</html>
